.auth {
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  width: 300px;
  height: 300px;
}
