@font-face {
  font-family: "iranSans";
  src: url("./assets/fonts/IRANSans.woff");
}

* {
  box-sizing: border-box;
}

:root {
  --color-1: #05050c;
  --color-2: #0f1021;
  --color-3: #b778f0;
  --color-4: #242534;
  --color-5: #6a6d9e;
  --color-6: #fff;
  --color-7: #b0b0b1;
  --color-8: #b878f051;
  --br: 12px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "iranSans";
  direction: rtl;
  color: var(--color-6);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--br);
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
