.panel-layout {
  width: 100%;
  min-height: 100vh;
  background-color: #e0e0e0;
}

.main {
  width: calc(100% - 250px);
  min-height: 100vh;
  background-color: var(--color-1);
  right: 250px;
  position: relative;
  transition: all 0.3s;
}

.main-increase {
  width: calc(100% - 60px);
  right: 60px;
}

@media (width < 767px) {
  .main {
    width: 100%;
    right: unset;
  }
}

.main-header {
  width: 100%;
  height: 80px;
  background-color: var(--color-2);
}
